#logo {float: left;


}

#navicon {float: right;}



.bot_header {color: white;
            background-color: black;

}


nav {height: 80px;
    margin-top: 47px;
    font-size: 20px;
    text-align: right;}

footer {color: white;
    background-color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer ul {list-style-type: none;}

